@model IEnumerable<CVeffort.Models.DamagedUnits>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "List of raported elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<table class="table table-sm table-striped table-hover border-bottom">
    <thead>
        <tr>
            <th style="border: 1px black solid"><b>Id</b></th>
            <th style="border: 1px black solid"><b>Date</b></th>
            <th style="border: 1px black solid"><b>Change made by</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 1px black solid">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenAdded)
                </td style="border: 1px black solid">
                <td>
                    @Html.DisplayFor(modelItem => item.WhoAdded)
                </td>
                <td style="border: 1px black solid; width:70px">
                    @if (User.Identity.Name == item.WhoAdded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> | </span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.Identity.Name == item.WhoAdded)
                    {
                        <span> | </span><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>